-- Snapshot of existing Neon production schema
-- Generated 2026-05-13
-- Koibito backend migration baseline
-- DO NOT RUN on current production database
-- Intended for fresh environment reconstruction only
-- PostgreSQL database dump
--

\restrict 3VcVognybjPdleiZg4davtxc1JT9ekisuRz5bCOZ8X3x8hcfzdaxd1pn9k8Sijc

-- Dumped from database version 17.8 (9c8634e)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: active_chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.active_chat_messages (
    id integer NOT NULL,
    session_id integer NOT NULL,
    sender_type text NOT NULL,
    sender_id integer NOT NULL,
    message_text text,
    media_url text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: active_chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.active_chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: active_chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.active_chat_messages_id_seq OWNED BY public.active_chat_messages.id;


--
-- Name: active_chat_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.active_chat_sessions (
    id integer NOT NULL,
    request_id integer NOT NULL,
    requester_user_id integer NOT NULL,
    owner_user_id integer NOT NULL,
    koibito_id integer NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: active_chat_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.active_chat_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: active_chat_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.active_chat_sessions_id_seq OWNED BY public.active_chat_sessions.id;


--
-- Name: ai_model_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ai_model_settings (
    koibito_id integer NOT NULL,
    selected_model text DEFAULT 'gpt-5.4-mini'::text,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: app_system; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.app_system (
    user_id integer NOT NULL,
    app_version text,
    storage_used text,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: badge_definitions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.badge_definitions (
    id integer NOT NULL,
    badge_key text NOT NULL,
    label text NOT NULL,
    category text,
    description text,
    icon text,
    created_at timestamp without time zone DEFAULT now(),
    color_start text,
    color_end text
);


--
-- Name: badge_definitions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.badge_definitions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: badge_definitions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.badge_definitions_id_seq OWNED BY public.badge_definitions.id;


--
-- Name: bluetooth_devices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bluetooth_devices (
    id integer NOT NULL,
    device_id text NOT NULL,
    name text NOT NULL,
    type text DEFAULT 'unknown'::text,
    battery_level integer,
    paired boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: bluetooth_devices_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.bluetooth_devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: bluetooth_devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.bluetooth_devices_id_seq OWNED BY public.bluetooth_devices.id;


--
-- Name: chat_attachments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_attachments (
    id integer NOT NULL,
    room_id integer NOT NULL,
    message_id integer,
    sender_user_id integer NOT NULL,
    storage_path text NOT NULL,
    public_url text NOT NULL,
    file_type text NOT NULL,
    mime_type text,
    file_name text,
    file_size bigint,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT chat_attachments_file_type_check CHECK ((file_type = ANY (ARRAY['image'::text, 'audio'::text, 'file'::text])))
);


--
-- Name: chat_attachments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chat_attachments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chat_attachments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chat_attachments_id_seq OWNED BY public.chat_attachments.id;


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_messages (
    id integer NOT NULL,
    room_id integer NOT NULL,
    sender_type text NOT NULL,
    sender_id integer,
    message_text text,
    media_url text,
    message_type text DEFAULT 'text'::text,
    action_type text,
    target_id integer,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chat_messages_id_seq OWNED BY public.chat_messages.id;


--
-- Name: chat_participants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_participants (
    id integer NOT NULL,
    room_id integer NOT NULL,
    participant_type text NOT NULL,
    participant_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: chat_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chat_participants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chat_participants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chat_participants_id_seq OWNED BY public.chat_participants.id;


--
-- Name: chat_reads; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_reads (
    id integer NOT NULL,
    room_id integer NOT NULL,
    user_id integer NOT NULL,
    last_read_message_id integer,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: chat_reads_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chat_reads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chat_reads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chat_reads_id_seq OWNED BY public.chat_reads.id;


--
-- Name: chat_rooms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_rooms (
    id integer NOT NULL,
    room_type text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: chat_rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chat_rooms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chat_rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chat_rooms_id_seq OWNED BY public.chat_rooms.id;


--
-- Name: chat_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_sessions (
    id integer NOT NULL,
    room_id integer NOT NULL,
    expires_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: chat_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.chat_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: chat_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.chat_sessions_id_seq OWNED BY public.chat_sessions.id;


--
-- Name: custom_traits; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.custom_traits (
    id integer NOT NULL,
    koibito_id integer NOT NULL,
    label text NOT NULL,
    created_by_user_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: custom_traits_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.custom_traits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: custom_traits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.custom_traits_id_seq OWNED BY public.custom_traits.id;


--
-- Name: device_commands; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.device_commands (
    id integer NOT NULL,
    device_id text NOT NULL,
    command_type text NOT NULL,
    payload text,
    status text DEFAULT 'pending'::text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: device_commands_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.device_commands_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: device_commands_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.device_commands_id_seq OWNED BY public.device_commands.id;


--
-- Name: device_health_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.device_health_settings (
    koibito_id integer NOT NULL,
    diagnostic_interval_weeks integer DEFAULT 2,
    self_diagnose_interval_weeks integer DEFAULT 2,
    health_report_interval_months integer DEFAULT 6,
    report_only_if_issue boolean DEFAULT true,
    keep_logs_local boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: device_network_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.device_network_profiles (
    id integer NOT NULL,
    user_id integer NOT NULL,
    device_id text,
    ssid text NOT NULL,
    password_encrypted text NOT NULL,
    is_preferred boolean DEFAULT false,
    last_used_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: device_network_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.device_network_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: device_network_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.device_network_profiles_id_seq OWNED BY public.device_network_profiles.id;


--
-- Name: devices; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.devices (
    id integer NOT NULL,
    koibito_id integer,
    device_id text NOT NULL,
    hardware_id text NOT NULL,
    bluetooth_name text,
    online_status text DEFAULT 'offline'::text,
    last_seen timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    battery_percent integer,
    battery_voltage numeric(6,3),
    is_charging boolean
);


--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.devices_id_seq OWNED BY public.devices.id;


--
-- Name: friend_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.friend_requests (
    id integer NOT NULL,
    sender_user_id integer NOT NULL,
    receiver_user_id integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    responded_at timestamp without time zone
);


--
-- Name: friend_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.friend_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: friend_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.friend_requests_id_seq OWNED BY public.friend_requests.id;


--
-- Name: friendships; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.friendships (
    id integer NOT NULL,
    user_a integer NOT NULL,
    user_b integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: friendships_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.friendships_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: friendships_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.friendships_id_seq OWNED BY public.friendships.id;


--
-- Name: game_chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.game_chat_messages (
    id integer NOT NULL,
    session_id integer NOT NULL,
    sender_type text NOT NULL,
    sender_id integer NOT NULL,
    message_text text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: game_chat_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.game_chat_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: game_chat_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.game_chat_messages_id_seq OWNED BY public.game_chat_messages.id;


--
-- Name: game_invites; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.game_invites (
    id integer NOT NULL,
    lobby_id integer NOT NULL,
    inviter_user_id integer NOT NULL,
    target_type text NOT NULL,
    target_id integer NOT NULL,
    status text DEFAULT 'pending'::text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: game_invites_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.game_invites_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: game_invites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.game_invites_id_seq OWNED BY public.game_invites.id;


--
-- Name: game_lobbies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.game_lobbies (
    id integer NOT NULL,
    game_id integer NOT NULL,
    created_by_user_id integer NOT NULL,
    status text DEFAULT 'waiting'::text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: game_lobbies_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.game_lobbies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: game_lobbies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.game_lobbies_id_seq OWNED BY public.game_lobbies.id;


--
-- Name: game_lobby_players; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.game_lobby_players (
    id integer NOT NULL,
    lobby_id integer NOT NULL,
    player_type text NOT NULL,
    player_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: game_lobby_players_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.game_lobby_players_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: game_lobby_players_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.game_lobby_players_id_seq OWNED BY public.game_lobby_players.id;


--
-- Name: game_moves; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.game_moves (
    id integer NOT NULL,
    session_id integer NOT NULL,
    player_type text NOT NULL,
    player_id integer NOT NULL,
    move_json jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: game_moves_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.game_moves_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: game_moves_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.game_moves_id_seq OWNED BY public.game_moves.id;


--
-- Name: game_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.game_sessions (
    id integer NOT NULL,
    lobby_id integer NOT NULL,
    state_json jsonb DEFAULT '{}'::jsonb,
    status text DEFAULT 'active'::text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: game_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.game_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: game_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.game_sessions_id_seq OWNED BY public.game_sessions.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.games (
    id integer NOT NULL,
    game_key text NOT NULL,
    name text NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: group_members; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_members (
    id integer NOT NULL,
    group_id integer NOT NULL,
    member_type text NOT NULL,
    member_id integer NOT NULL,
    role text DEFAULT 'member'::text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: group_members_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.group_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: group_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.group_members_id_seq OWNED BY public.group_members.id;


--
-- Name: group_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_messages (
    id integer NOT NULL,
    group_id integer NOT NULL,
    sender_type text NOT NULL,
    sender_id integer NOT NULL,
    message_text text,
    media_url text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: group_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.group_messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: group_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.group_messages_id_seq OWNED BY public.group_messages.id;


--
-- Name: group_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_settings (
    group_id integer NOT NULL,
    chat_mode text DEFAULT 'normal'::text,
    active_speaker text,
    mention_required boolean DEFAULT false,
    reply_frequency text DEFAULT 'normal'::text,
    timer_limit integer,
    mute boolean DEFAULT false,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.groups (
    id integer NOT NULL,
    name text NOT NULL,
    created_by integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.groups_id_seq OWNED BY public.groups.id;


--
-- Name: koibito_aliases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_aliases (
    id integer NOT NULL,
    koibito_id integer NOT NULL,
    aliases jsonb DEFAULT '[]'::jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: koibito_aliases_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.koibito_aliases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: koibito_aliases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.koibito_aliases_id_seq OWNED BY public.koibito_aliases.id;


--
-- Name: koibito_audio_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_audio_settings (
    koibito_id integer NOT NULL,
    cloud_tts boolean DEFAULT true,
    earbud_mode boolean DEFAULT false,
    volume integer DEFAULT 70,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: koibito_badges; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_badges (
    id integer NOT NULL,
    koibito_id integer NOT NULL,
    badge_id integer NOT NULL,
    unlocked_at timestamp without time zone DEFAULT now()
);


--
-- Name: koibito_badges_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.koibito_badges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: koibito_badges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.koibito_badges_id_seq OWNED BY public.koibito_badges.id;


--
-- Name: koibito_chat_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_chat_requests (
    id integer NOT NULL,
    requester_user_id integer NOT NULL,
    owner_user_id integer NOT NULL,
    koibito_id integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    requested_duration_minutes integer DEFAULT 60,
    created_at timestamp without time zone DEFAULT now(),
    responded_at timestamp without time zone
);


--
-- Name: koibito_chat_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.koibito_chat_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: koibito_chat_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.koibito_chat_requests_id_seq OWNED BY public.koibito_chat_requests.id;


--
-- Name: koibito_diary_comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_diary_comments (
    id integer NOT NULL,
    diary_id integer NOT NULL,
    koibito_id integer,
    koibito_name text NOT NULL,
    comment_text text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: koibito_diary_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.koibito_diary_comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: koibito_diary_comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.koibito_diary_comments_id_seq OWNED BY public.koibito_diary_comments.id;


--
-- Name: koibito_diary_entries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_diary_entries (
    id integer NOT NULL,
    user_id integer NOT NULL,
    koibito_id integer NOT NULL,
    koibito_name text NOT NULL,
    entry_text text NOT NULL,
    date date NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: koibito_diary_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.koibito_diary_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: koibito_diary_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.koibito_diary_entries_id_seq OWNED BY public.koibito_diary_entries.id;


--
-- Name: koibito_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_messages (
    id text NOT NULL,
    koibito_id text NOT NULL,
    user_id text NOT NULL,
    sender text NOT NULL,
    text text NOT NULL,
    is_action boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    CONSTRAINT koibito_messages_sender_check CHECK ((sender = ANY (ARRAY['me'::text, 'them'::text])))
);


--
-- Name: koibito_rules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_rules (
    id integer NOT NULL,
    koibito_id integer NOT NULL,
    must_rules jsonb DEFAULT '[]'::jsonb,
    never_rules jsonb DEFAULT '[]'::jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    character_rule text
);


--
-- Name: koibito_rules_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.koibito_rules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: koibito_rules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.koibito_rules_id_seq OWNED BY public.koibito_rules.id;


--
-- Name: koibito_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_settings (
    koibito_id integer NOT NULL,
    eq_system boolean DEFAULT true,
    daily_mood boolean DEFAULT true,
    mood_sync boolean DEFAULT true,
    jealousy boolean DEFAULT true,
    passive_listening boolean DEFAULT false,
    diary_mode boolean DEFAULT true,
    profanity_mode boolean DEFAULT false,
    reminder_mode boolean DEFAULT true,
    moments_mode boolean DEFAULT true,
    wake_word boolean DEFAULT true,
    idle_after_minutes integer DEFAULT 60,
    sleep_after_minutes integer DEFAULT 120,
    safe_mode boolean DEFAULT false,
    dev_mode boolean DEFAULT false,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: koibito_streaks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_streaks (
    id text NOT NULL,
    koibito_id text NOT NULL,
    user_id text NOT NULL,
    streak_count integer DEFAULT 0,
    days_lit integer DEFAULT 0,
    today_count integer DEFAULT 0,
    last_flame_date date,
    threshold integer DEFAULT 50,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: koibito_traits; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_traits (
    id integer NOT NULL,
    koibito_id integer NOT NULL,
    trait_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: koibito_traits_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.koibito_traits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: koibito_traits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.koibito_traits_id_seq OWNED BY public.koibito_traits.id;


--
-- Name: koibito_voice_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibito_voice_settings (
    id integer NOT NULL,
    koibito_id integer NOT NULL,
    voice_profile_id integer,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: koibito_voice_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.koibito_voice_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: koibito_voice_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.koibito_voice_settings_id_seq OWNED BY public.koibito_voice_settings.id;


--
-- Name: koibitos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.koibitos (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name text NOT NULL,
    avatar text,
    status text DEFAULT 'offline'::text,
    battery_percent integer,
    paired_at timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    gender text,
    is_primary boolean DEFAULT false
);


--
-- Name: koibitos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.koibitos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: koibitos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.koibitos_id_seq OWNED BY public.koibitos.id;


--
-- Name: moments_comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.moments_comments (
    id integer NOT NULL,
    post_id integer NOT NULL,
    user_id integer NOT NULL,
    comment text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: moments_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.moments_comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: moments_comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.moments_comments_id_seq OWNED BY public.moments_comments.id;


--
-- Name: moments_likes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.moments_likes (
    id integer NOT NULL,
    post_id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: moments_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.moments_likes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: moments_likes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.moments_likes_id_seq OWNED BY public.moments_likes.id;


--
-- Name: moments_posts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.moments_posts (
    id integer NOT NULL,
    author_id integer NOT NULL,
    author_type text NOT NULL,
    text text,
    media_url text,
    link_url text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: moments_posts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.moments_posts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: moments_posts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.moments_posts_id_seq OWNED BY public.moments_posts.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    related_device_id text,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: pairing_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pairing_sessions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    claimed_device_id text,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: pairing_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pairing_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pairing_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pairing_sessions_id_seq OWNED BY public.pairing_sessions.id;


--
-- Name: playing_with_neon; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.playing_with_neon (
    id integer NOT NULL,
    name text NOT NULL,
    value real
);


--
-- Name: playing_with_neon_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.playing_with_neon_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: playing_with_neon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.playing_with_neon_id_seq OWNED BY public.playing_with_neon.id;


--
-- Name: privacy_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.privacy_settings (
    user_id integer NOT NULL,
    profile_visibility text DEFAULT 'friends'::text,
    data_permissions boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: reminders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reminders (
    id integer NOT NULL,
    user_id integer NOT NULL,
    title text NOT NULL,
    date date,
    "time" time without time zone,
    created_by text DEFAULT 'user'::text NOT NULL,
    koibito_id integer,
    completed boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    place text,
    notes text,
    bell_enabled boolean DEFAULT true NOT NULL,
    created_by_name text,
    koibito_note text,
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: reminders_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.reminders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: reminders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.reminders_id_seq OWNED BY public.reminders.id;


--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.schema_migrations (
    id integer NOT NULL,
    filename text NOT NULL,
    applied_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: schema_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.schema_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: schema_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.schema_migrations_id_seq OWNED BY public.schema_migrations.id;


--
-- Name: trait_definitions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trait_definitions (
    id integer NOT NULL,
    trait_key text NOT NULL,
    label text NOT NULL,
    category text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: trait_definitions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.trait_definitions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: trait_definitions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.trait_definitions_id_seq OWNED BY public.trait_definitions.id;


--
-- Name: usage_limits; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usage_limits (
    user_id integer NOT NULL,
    token_limit integer DEFAULT 0,
    token_used integer DEFAULT 0,
    tts_limit integer DEFAULT 0,
    tts_used integer DEFAULT 0,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: usage_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usage_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    usage_type text NOT NULL,
    amount integer NOT NULL,
    source text,
    related_koibito_id integer,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: usage_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usage_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usage_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usage_logs_id_seq OWNED BY public.usage_logs.id;


--
-- Name: user_api_keys; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_api_keys (
    id integer NOT NULL,
    user_id integer NOT NULL,
    provider text NOT NULL,
    api_key_encrypted text NOT NULL,
    last4 text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: user_api_keys_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_api_keys_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_api_keys_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_api_keys_id_seq OWNED BY public.user_api_keys.id;


--
-- Name: user_badges; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_badges (
    id integer NOT NULL,
    user_id integer NOT NULL,
    badge_id integer NOT NULL,
    unlocked_at timestamp without time zone DEFAULT now()
);


--
-- Name: user_badges_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_badges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_badges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_badges_id_seq OWNED BY public.user_badges.id;


--
-- Name: user_chat_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_chat_settings (
    user_id integer NOT NULL,
    send_with_enter boolean DEFAULT true,
    show_timestamps boolean DEFAULT true,
    voicenote_autoplay boolean DEFAULT false,
    media_auto_download boolean DEFAULT false,
    chat_font_size text DEFAULT 'medium'::text,
    default_chat_session_expiry integer DEFAULT 60,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: user_diary_entries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_diary_entries (
    id integer NOT NULL,
    user_id integer NOT NULL,
    entry_text text NOT NULL,
    date date NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: user_diary_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_diary_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_diary_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_diary_entries_id_seq OWNED BY public.user_diary_entries.id;


--
-- Name: user_mood_checkins; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_mood_checkins (
    id integer NOT NULL,
    user_id integer NOT NULL,
    koibito_id integer,
    mood_label character varying(50) NOT NULL,
    mood_note text,
    source character varying(50) DEFAULT 'home_checkin'::character varying,
    submitted_at timestamp without time zone DEFAULT now() NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: user_mood_checkins_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_mood_checkins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_mood_checkins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_mood_checkins_id_seq OWNED BY public.user_mood_checkins.id;


--
-- Name: user_personas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_personas (
    user_id integer NOT NULL,
    persona_name text,
    persona_bio text,
    persona_gender text,
    persona_birthday date,
    likes jsonb DEFAULT '[]'::jsonb,
    dislikes jsonb DEFAULT '[]'::jsonb,
    hobbies jsonb DEFAULT '[]'::jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: user_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_preferences (
    user_id integer NOT NULL,
    dark_mode boolean DEFAULT false,
    notifications_enabled boolean DEFAULT true,
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: user_profile_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_profile_settings (
    user_id integer NOT NULL,
    hide_profile boolean DEFAULT false,
    allow_profile_share boolean DEFAULT true,
    persona_visible_to_koibito boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_profiles (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name text,
    birthday date,
    timezone text,
    preferences jsonb,
    created_at timestamp without time zone DEFAULT now(),
    display_name text,
    avatar text,
    bio text,
    gender text,
    updated_at timestamp without time zone DEFAULT now(),
    profile_visibility text DEFAULT 'public'::text
);


--
-- Name: user_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_profiles_id_seq OWNED BY public.user_profiles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email text NOT NULL,
    password text,
    contact_code text,
    created_at timestamp without time zone DEFAULT now(),
    full_name text,
    username text,
    auth_provider text DEFAULT 'local'::text,
    google_id text,
    reset_password_token text,
    reset_password_expires timestamp without time zone,
    name text
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: voice_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.voice_profiles (
    id integer NOT NULL,
    voice_key text NOT NULL,
    label text NOT NULL,
    provider text,
    created_at timestamp without time zone DEFAULT now()
);


--
-- Name: voice_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.voice_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: voice_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.voice_profiles_id_seq OWNED BY public.voice_profiles.id;


--
-- Name: active_chat_messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.active_chat_messages ALTER COLUMN id SET DEFAULT nextval('public.active_chat_messages_id_seq'::regclass);


--
-- Name: active_chat_sessions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.active_chat_sessions ALTER COLUMN id SET DEFAULT nextval('public.active_chat_sessions_id_seq'::regclass);


--
-- Name: badge_definitions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.badge_definitions ALTER COLUMN id SET DEFAULT nextval('public.badge_definitions_id_seq'::regclass);


--
-- Name: bluetooth_devices id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bluetooth_devices ALTER COLUMN id SET DEFAULT nextval('public.bluetooth_devices_id_seq'::regclass);


--
-- Name: chat_attachments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_attachments ALTER COLUMN id SET DEFAULT nextval('public.chat_attachments_id_seq'::regclass);


--
-- Name: chat_messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages ALTER COLUMN id SET DEFAULT nextval('public.chat_messages_id_seq'::regclass);


--
-- Name: chat_participants id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_participants ALTER COLUMN id SET DEFAULT nextval('public.chat_participants_id_seq'::regclass);


--
-- Name: chat_reads id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_reads ALTER COLUMN id SET DEFAULT nextval('public.chat_reads_id_seq'::regclass);


--
-- Name: chat_rooms id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_rooms ALTER COLUMN id SET DEFAULT nextval('public.chat_rooms_id_seq'::regclass);


--
-- Name: chat_sessions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_sessions ALTER COLUMN id SET DEFAULT nextval('public.chat_sessions_id_seq'::regclass);


--
-- Name: custom_traits id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.custom_traits ALTER COLUMN id SET DEFAULT nextval('public.custom_traits_id_seq'::regclass);


--
-- Name: device_commands id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.device_commands ALTER COLUMN id SET DEFAULT nextval('public.device_commands_id_seq'::regclass);


--
-- Name: device_network_profiles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.device_network_profiles ALTER COLUMN id SET DEFAULT nextval('public.device_network_profiles_id_seq'::regclass);


--
-- Name: devices id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.devices ALTER COLUMN id SET DEFAULT nextval('public.devices_id_seq'::regclass);


--
-- Name: friend_requests id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests ALTER COLUMN id SET DEFAULT nextval('public.friend_requests_id_seq'::regclass);


--
-- Name: friendships id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friendships ALTER COLUMN id SET DEFAULT nextval('public.friendships_id_seq'::regclass);


--
-- Name: game_chat_messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_chat_messages ALTER COLUMN id SET DEFAULT nextval('public.game_chat_messages_id_seq'::regclass);


--
-- Name: game_invites id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_invites ALTER COLUMN id SET DEFAULT nextval('public.game_invites_id_seq'::regclass);


--
-- Name: game_lobbies id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_lobbies ALTER COLUMN id SET DEFAULT nextval('public.game_lobbies_id_seq'::regclass);


--
-- Name: game_lobby_players id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_lobby_players ALTER COLUMN id SET DEFAULT nextval('public.game_lobby_players_id_seq'::regclass);


--
-- Name: game_moves id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_moves ALTER COLUMN id SET DEFAULT nextval('public.game_moves_id_seq'::regclass);


--
-- Name: game_sessions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_sessions ALTER COLUMN id SET DEFAULT nextval('public.game_sessions_id_seq'::regclass);


--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: group_members id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members ALTER COLUMN id SET DEFAULT nextval('public.group_members_id_seq'::regclass);


--
-- Name: group_messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_messages ALTER COLUMN id SET DEFAULT nextval('public.group_messages_id_seq'::regclass);


--
-- Name: groups id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups ALTER COLUMN id SET DEFAULT nextval('public.groups_id_seq'::regclass);


--
-- Name: koibito_aliases id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_aliases ALTER COLUMN id SET DEFAULT nextval('public.koibito_aliases_id_seq'::regclass);


--
-- Name: koibito_badges id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_badges ALTER COLUMN id SET DEFAULT nextval('public.koibito_badges_id_seq'::regclass);


--
-- Name: koibito_chat_requests id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_chat_requests ALTER COLUMN id SET DEFAULT nextval('public.koibito_chat_requests_id_seq'::regclass);


--
-- Name: koibito_diary_comments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_diary_comments ALTER COLUMN id SET DEFAULT nextval('public.koibito_diary_comments_id_seq'::regclass);


--
-- Name: koibito_diary_entries id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_diary_entries ALTER COLUMN id SET DEFAULT nextval('public.koibito_diary_entries_id_seq'::regclass);


--
-- Name: koibito_rules id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_rules ALTER COLUMN id SET DEFAULT nextval('public.koibito_rules_id_seq'::regclass);


--
-- Name: koibito_traits id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_traits ALTER COLUMN id SET DEFAULT nextval('public.koibito_traits_id_seq'::regclass);


--
-- Name: koibito_voice_settings id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_voice_settings ALTER COLUMN id SET DEFAULT nextval('public.koibito_voice_settings_id_seq'::regclass);


--
-- Name: koibitos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibitos ALTER COLUMN id SET DEFAULT nextval('public.koibitos_id_seq'::regclass);


--
-- Name: moments_comments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moments_comments ALTER COLUMN id SET DEFAULT nextval('public.moments_comments_id_seq'::regclass);


--
-- Name: moments_likes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moments_likes ALTER COLUMN id SET DEFAULT nextval('public.moments_likes_id_seq'::regclass);


--
-- Name: moments_posts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moments_posts ALTER COLUMN id SET DEFAULT nextval('public.moments_posts_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: pairing_sessions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pairing_sessions ALTER COLUMN id SET DEFAULT nextval('public.pairing_sessions_id_seq'::regclass);


--
-- Name: playing_with_neon id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.playing_with_neon ALTER COLUMN id SET DEFAULT nextval('public.playing_with_neon_id_seq'::regclass);


--
-- Name: reminders id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reminders ALTER COLUMN id SET DEFAULT nextval('public.reminders_id_seq'::regclass);


--
-- Name: schema_migrations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.schema_migrations ALTER COLUMN id SET DEFAULT nextval('public.schema_migrations_id_seq'::regclass);


--
-- Name: trait_definitions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trait_definitions ALTER COLUMN id SET DEFAULT nextval('public.trait_definitions_id_seq'::regclass);


--
-- Name: usage_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usage_logs ALTER COLUMN id SET DEFAULT nextval('public.usage_logs_id_seq'::regclass);


--
-- Name: user_api_keys id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_api_keys ALTER COLUMN id SET DEFAULT nextval('public.user_api_keys_id_seq'::regclass);


--
-- Name: user_badges id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_badges ALTER COLUMN id SET DEFAULT nextval('public.user_badges_id_seq'::regclass);


--
-- Name: user_diary_entries id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_diary_entries ALTER COLUMN id SET DEFAULT nextval('public.user_diary_entries_id_seq'::regclass);


--
-- Name: user_mood_checkins id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_mood_checkins ALTER COLUMN id SET DEFAULT nextval('public.user_mood_checkins_id_seq'::regclass);


--
-- Name: user_profiles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_profiles ALTER COLUMN id SET DEFAULT nextval('public.user_profiles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: voice_profiles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.voice_profiles ALTER COLUMN id SET DEFAULT nextval('public.voice_profiles_id_seq'::regclass);


--
-- Name: active_chat_messages active_chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.active_chat_messages
    ADD CONSTRAINT active_chat_messages_pkey PRIMARY KEY (id);


--
-- Name: active_chat_sessions active_chat_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.active_chat_sessions
    ADD CONSTRAINT active_chat_sessions_pkey PRIMARY KEY (id);


--
-- Name: ai_model_settings ai_model_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_model_settings
    ADD CONSTRAINT ai_model_settings_pkey PRIMARY KEY (koibito_id);


--
-- Name: app_system app_system_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.app_system
    ADD CONSTRAINT app_system_pkey PRIMARY KEY (user_id);


--
-- Name: badge_definitions badge_definitions_badge_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.badge_definitions
    ADD CONSTRAINT badge_definitions_badge_key_key UNIQUE (badge_key);


--
-- Name: badge_definitions badge_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.badge_definitions
    ADD CONSTRAINT badge_definitions_pkey PRIMARY KEY (id);


--
-- Name: bluetooth_devices bluetooth_devices_device_id_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bluetooth_devices
    ADD CONSTRAINT bluetooth_devices_device_id_unique UNIQUE (device_id);


--
-- Name: bluetooth_devices bluetooth_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bluetooth_devices
    ADD CONSTRAINT bluetooth_devices_pkey PRIMARY KEY (id);


--
-- Name: chat_attachments chat_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_attachments
    ADD CONSTRAINT chat_attachments_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: chat_participants chat_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_participants
    ADD CONSTRAINT chat_participants_pkey PRIMARY KEY (id);


--
-- Name: chat_reads chat_reads_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_reads
    ADD CONSTRAINT chat_reads_pkey PRIMARY KEY (id);


--
-- Name: chat_reads chat_reads_room_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_reads
    ADD CONSTRAINT chat_reads_room_id_user_id_key UNIQUE (room_id, user_id);


--
-- Name: chat_rooms chat_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_rooms
    ADD CONSTRAINT chat_rooms_pkey PRIMARY KEY (id);


--
-- Name: chat_sessions chat_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_sessions
    ADD CONSTRAINT chat_sessions_pkey PRIMARY KEY (id);


--
-- Name: custom_traits custom_traits_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.custom_traits
    ADD CONSTRAINT custom_traits_pkey PRIMARY KEY (id);


--
-- Name: device_commands device_commands_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.device_commands
    ADD CONSTRAINT device_commands_pkey PRIMARY KEY (id);


--
-- Name: device_health_settings device_health_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.device_health_settings
    ADD CONSTRAINT device_health_settings_pkey PRIMARY KEY (koibito_id);


--
-- Name: device_network_profiles device_network_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.device_network_profiles
    ADD CONSTRAINT device_network_profiles_pkey PRIMARY KEY (id);


--
-- Name: devices devices_device_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_device_id_key UNIQUE (device_id);


--
-- Name: devices devices_hardware_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_hardware_id_key UNIQUE (hardware_id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: friend_requests friend_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_pkey PRIMARY KEY (id);


--
-- Name: friendships friendships_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friendships
    ADD CONSTRAINT friendships_pkey PRIMARY KEY (id);


--
-- Name: game_chat_messages game_chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_chat_messages
    ADD CONSTRAINT game_chat_messages_pkey PRIMARY KEY (id);


--
-- Name: game_invites game_invites_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_invites
    ADD CONSTRAINT game_invites_pkey PRIMARY KEY (id);


--
-- Name: game_lobbies game_lobbies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_lobbies
    ADD CONSTRAINT game_lobbies_pkey PRIMARY KEY (id);


--
-- Name: game_lobby_players game_lobby_players_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_lobby_players
    ADD CONSTRAINT game_lobby_players_pkey PRIMARY KEY (id);


--
-- Name: game_moves game_moves_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_moves
    ADD CONSTRAINT game_moves_pkey PRIMARY KEY (id);


--
-- Name: game_sessions game_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_pkey PRIMARY KEY (id);


--
-- Name: games games_game_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_game_key_key UNIQUE (game_key);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: group_members group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_pkey PRIMARY KEY (id);


--
-- Name: group_messages group_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_messages
    ADD CONSTRAINT group_messages_pkey PRIMARY KEY (id);


--
-- Name: group_settings group_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_settings
    ADD CONSTRAINT group_settings_pkey PRIMARY KEY (group_id);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: koibito_aliases koibito_aliases_koibito_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_aliases
    ADD CONSTRAINT koibito_aliases_koibito_id_key UNIQUE (koibito_id);


--
-- Name: koibito_aliases koibito_aliases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_aliases
    ADD CONSTRAINT koibito_aliases_pkey PRIMARY KEY (id);


--
-- Name: koibito_audio_settings koibito_audio_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_audio_settings
    ADD CONSTRAINT koibito_audio_settings_pkey PRIMARY KEY (koibito_id);


--
-- Name: koibito_badges koibito_badges_koibito_id_badge_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_badges
    ADD CONSTRAINT koibito_badges_koibito_id_badge_id_key UNIQUE (koibito_id, badge_id);


--
-- Name: koibito_badges koibito_badges_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_badges
    ADD CONSTRAINT koibito_badges_pkey PRIMARY KEY (id);


--
-- Name: koibito_chat_requests koibito_chat_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_chat_requests
    ADD CONSTRAINT koibito_chat_requests_pkey PRIMARY KEY (id);


--
-- Name: koibito_diary_comments koibito_diary_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_diary_comments
    ADD CONSTRAINT koibito_diary_comments_pkey PRIMARY KEY (id);


--
-- Name: koibito_diary_entries koibito_diary_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_diary_entries
    ADD CONSTRAINT koibito_diary_entries_pkey PRIMARY KEY (id);


--
-- Name: koibito_messages koibito_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_messages
    ADD CONSTRAINT koibito_messages_pkey PRIMARY KEY (id);


--
-- Name: koibito_rules koibito_rules_koibito_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_rules
    ADD CONSTRAINT koibito_rules_koibito_id_key UNIQUE (koibito_id);


--
-- Name: koibito_rules koibito_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_rules
    ADD CONSTRAINT koibito_rules_pkey PRIMARY KEY (id);


--
-- Name: koibito_settings koibito_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_settings
    ADD CONSTRAINT koibito_settings_pkey PRIMARY KEY (koibito_id);


--
-- Name: koibito_streaks koibito_streaks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_streaks
    ADD CONSTRAINT koibito_streaks_pkey PRIMARY KEY (id);


--
-- Name: koibito_traits koibito_traits_koibito_id_trait_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_traits
    ADD CONSTRAINT koibito_traits_koibito_id_trait_id_key UNIQUE (koibito_id, trait_id);


--
-- Name: koibito_traits koibito_traits_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_traits
    ADD CONSTRAINT koibito_traits_pkey PRIMARY KEY (id);


--
-- Name: koibito_voice_settings koibito_voice_settings_koibito_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_voice_settings
    ADD CONSTRAINT koibito_voice_settings_koibito_id_key UNIQUE (koibito_id);


--
-- Name: koibito_voice_settings koibito_voice_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_voice_settings
    ADD CONSTRAINT koibito_voice_settings_pkey PRIMARY KEY (id);


--
-- Name: koibitos koibitos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibitos
    ADD CONSTRAINT koibitos_pkey PRIMARY KEY (id);


--
-- Name: moments_comments moments_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moments_comments
    ADD CONSTRAINT moments_comments_pkey PRIMARY KEY (id);


--
-- Name: moments_likes moments_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moments_likes
    ADD CONSTRAINT moments_likes_pkey PRIMARY KEY (id);


--
-- Name: moments_likes moments_likes_post_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moments_likes
    ADD CONSTRAINT moments_likes_post_id_user_id_key UNIQUE (post_id, user_id);


--
-- Name: moments_posts moments_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moments_posts
    ADD CONSTRAINT moments_posts_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: pairing_sessions pairing_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pairing_sessions
    ADD CONSTRAINT pairing_sessions_pkey PRIMARY KEY (id);


--
-- Name: playing_with_neon playing_with_neon_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.playing_with_neon
    ADD CONSTRAINT playing_with_neon_pkey PRIMARY KEY (id);


--
-- Name: privacy_settings privacy_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.privacy_settings
    ADD CONSTRAINT privacy_settings_pkey PRIMARY KEY (user_id);


--
-- Name: reminders reminders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_filename_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_filename_key UNIQUE (filename);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (id);


--
-- Name: trait_definitions trait_definitions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trait_definitions
    ADD CONSTRAINT trait_definitions_pkey PRIMARY KEY (id);


--
-- Name: trait_definitions trait_definitions_trait_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trait_definitions
    ADD CONSTRAINT trait_definitions_trait_key_key UNIQUE (trait_key);


--
-- Name: usage_limits usage_limits_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usage_limits
    ADD CONSTRAINT usage_limits_pkey PRIMARY KEY (user_id);


--
-- Name: usage_logs usage_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usage_logs
    ADD CONSTRAINT usage_logs_pkey PRIMARY KEY (id);


--
-- Name: user_api_keys user_api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_api_keys
    ADD CONSTRAINT user_api_keys_pkey PRIMARY KEY (id);


--
-- Name: user_api_keys user_api_keys_user_id_provider_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_api_keys
    ADD CONSTRAINT user_api_keys_user_id_provider_key UNIQUE (user_id, provider);


--
-- Name: user_badges user_badges_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_pkey PRIMARY KEY (id);


--
-- Name: user_badges user_badges_user_id_badge_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_user_id_badge_id_key UNIQUE (user_id, badge_id);


--
-- Name: user_chat_settings user_chat_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_chat_settings
    ADD CONSTRAINT user_chat_settings_pkey PRIMARY KEY (user_id);


--
-- Name: user_diary_entries user_diary_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_diary_entries
    ADD CONSTRAINT user_diary_entries_pkey PRIMARY KEY (id);


--
-- Name: user_mood_checkins user_mood_checkins_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_mood_checkins
    ADD CONSTRAINT user_mood_checkins_pkey PRIMARY KEY (id);


--
-- Name: user_personas user_personas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_personas
    ADD CONSTRAINT user_personas_pkey PRIMARY KEY (user_id);


--
-- Name: user_preferences user_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_pkey PRIMARY KEY (user_id);


--
-- Name: user_profile_settings user_profile_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_profile_settings
    ADD CONSTRAINT user_profile_settings_pkey PRIMARY KEY (user_id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_key UNIQUE (user_id);


--
-- Name: users users_contact_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_contact_code_key UNIQUE (contact_code);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_google_id_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_google_id_unique UNIQUE (google_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_unique UNIQUE (username);


--
-- Name: voice_profiles voice_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.voice_profiles
    ADD CONSTRAINT voice_profiles_pkey PRIMARY KEY (id);


--
-- Name: voice_profiles voice_profiles_voice_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.voice_profiles
    ADD CONSTRAINT voice_profiles_voice_key_key UNIQUE (voice_key);


--
-- Name: idx_chat_attachments_message_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_attachments_message_id ON public.chat_attachments USING btree (message_id);


--
-- Name: idx_chat_attachments_room_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_attachments_room_id ON public.chat_attachments USING btree (room_id);


--
-- Name: idx_chat_attachments_sender_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_attachments_sender_user_id ON public.chat_attachments USING btree (sender_user_id);


--
-- Name: idx_user_mood_checkins_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_mood_checkins_user_id ON public.user_mood_checkins USING btree (user_id);


--
-- Name: active_chat_messages active_chat_messages_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.active_chat_messages
    ADD CONSTRAINT active_chat_messages_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.active_chat_sessions(id) ON DELETE CASCADE;


--
-- Name: active_chat_sessions active_chat_sessions_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.active_chat_sessions
    ADD CONSTRAINT active_chat_sessions_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.koibito_chat_requests(id) ON DELETE CASCADE;


--
-- Name: ai_model_settings ai_model_settings_koibito_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ai_model_settings
    ADD CONSTRAINT ai_model_settings_koibito_id_fkey FOREIGN KEY (koibito_id) REFERENCES public.koibitos(id) ON DELETE CASCADE;


--
-- Name: chat_attachments chat_attachments_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_attachments
    ADD CONSTRAINT chat_attachments_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.chat_messages(id) ON DELETE SET NULL;


--
-- Name: chat_attachments chat_attachments_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_attachments
    ADD CONSTRAINT chat_attachments_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.chat_rooms(id) ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.chat_rooms(id) ON DELETE CASCADE;


--
-- Name: chat_participants chat_participants_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_participants
    ADD CONSTRAINT chat_participants_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.chat_rooms(id) ON DELETE CASCADE;


--
-- Name: chat_reads chat_reads_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_reads
    ADD CONSTRAINT chat_reads_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.chat_rooms(id) ON DELETE CASCADE;


--
-- Name: chat_sessions chat_sessions_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_sessions
    ADD CONSTRAINT chat_sessions_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.chat_rooms(id) ON DELETE CASCADE;


--
-- Name: device_health_settings device_health_settings_koibito_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.device_health_settings
    ADD CONSTRAINT device_health_settings_koibito_id_fkey FOREIGN KEY (koibito_id) REFERENCES public.koibitos(id) ON DELETE CASCADE;


--
-- Name: game_chat_messages game_chat_messages_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_chat_messages
    ADD CONSTRAINT game_chat_messages_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.game_sessions(id) ON DELETE CASCADE;


--
-- Name: game_invites game_invites_lobby_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_invites
    ADD CONSTRAINT game_invites_lobby_id_fkey FOREIGN KEY (lobby_id) REFERENCES public.game_lobbies(id) ON DELETE CASCADE;


--
-- Name: game_lobbies game_lobbies_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_lobbies
    ADD CONSTRAINT game_lobbies_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON DELETE CASCADE;


--
-- Name: game_lobby_players game_lobby_players_lobby_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_lobby_players
    ADD CONSTRAINT game_lobby_players_lobby_id_fkey FOREIGN KEY (lobby_id) REFERENCES public.game_lobbies(id) ON DELETE CASCADE;


--
-- Name: game_moves game_moves_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_moves
    ADD CONSTRAINT game_moves_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.game_sessions(id) ON DELETE CASCADE;


--
-- Name: game_sessions game_sessions_lobby_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_lobby_id_fkey FOREIGN KEY (lobby_id) REFERENCES public.game_lobbies(id) ON DELETE CASCADE;


--
-- Name: group_members group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: group_messages group_messages_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_messages
    ADD CONSTRAINT group_messages_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: group_settings group_settings_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_settings
    ADD CONSTRAINT group_settings_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: koibito_audio_settings koibito_audio_settings_koibito_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_audio_settings
    ADD CONSTRAINT koibito_audio_settings_koibito_id_fkey FOREIGN KEY (koibito_id) REFERENCES public.koibitos(id) ON DELETE CASCADE;


--
-- Name: koibito_badges koibito_badges_badge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_badges
    ADD CONSTRAINT koibito_badges_badge_id_fkey FOREIGN KEY (badge_id) REFERENCES public.badge_definitions(id) ON DELETE CASCADE;


--
-- Name: koibito_diary_comments koibito_diary_comments_diary_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_diary_comments
    ADD CONSTRAINT koibito_diary_comments_diary_id_fkey FOREIGN KEY (diary_id) REFERENCES public.koibito_diary_entries(id) ON DELETE CASCADE;


--
-- Name: koibito_settings koibito_settings_koibito_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_settings
    ADD CONSTRAINT koibito_settings_koibito_id_fkey FOREIGN KEY (koibito_id) REFERENCES public.koibitos(id) ON DELETE CASCADE;


--
-- Name: koibito_traits koibito_traits_trait_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_traits
    ADD CONSTRAINT koibito_traits_trait_id_fkey FOREIGN KEY (trait_id) REFERENCES public.trait_definitions(id) ON DELETE CASCADE;


--
-- Name: koibito_voice_settings koibito_voice_settings_voice_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.koibito_voice_settings
    ADD CONSTRAINT koibito_voice_settings_voice_profile_id_fkey FOREIGN KEY (voice_profile_id) REFERENCES public.voice_profiles(id) ON DELETE SET NULL;


--
-- Name: moments_comments moments_comments_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moments_comments
    ADD CONSTRAINT moments_comments_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.moments_posts(id) ON DELETE CASCADE;


--
-- Name: moments_likes moments_likes_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.moments_likes
    ADD CONSTRAINT moments_likes_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.moments_posts(id) ON DELETE CASCADE;


--
-- Name: user_badges user_badges_badge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_badge_id_fkey FOREIGN KEY (badge_id) REFERENCES public.badge_definitions(id) ON DELETE CASCADE;


--
-- Name: user_mood_checkins user_mood_checkins_koibito_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_mood_checkins
    ADD CONSTRAINT user_mood_checkins_koibito_id_fkey FOREIGN KEY (koibito_id) REFERENCES public.koibitos(id) ON DELETE SET NULL;


--
-- Name: user_mood_checkins user_mood_checkins_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_mood_checkins
    ADD CONSTRAINT user_mood_checkins_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_personas user_personas_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_personas
    ADD CONSTRAINT user_personas_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_profile_settings user_profile_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_profile_settings
    ADD CONSTRAINT user_profile_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 3VcVognybjPdleiZg4davtxc1JT9ekisuRz5bCOZ8X3x8hcfzdaxd1pn9k8Sijc

